<div class="comment-top">
    <h4>Yorum Bırakın!</h4>
    <div class="comment-bottom">
        <form id="commentForm" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Başlık" required="">

            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum</button>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function() {
        $('#commentForm').on('submit', function(e) {
            e.preventDefault();

            var formData = {
                CommentUserName: $('input[name="CommentUserName"]').val(),
                CommentTitle: $('input[name="CommentTitle"]').val(),
                CommentContent: $('textarea[name="CommentContent"]').val()
                // Formdan email verisini al
            };

            $.ajax({
                type: 'POST',
                url: '/Comment/PartialAddComment/', // POST edilecek URL
                data: formData,
                success: function (response) {
                    // Başarılı olursa yapılacaklar
                    swal({
                        icon: "success",
                        button: false,
                        text: "Yorum Yapma İşlemi Başarılı!"
                    });
                    $('#commentForm')[0].reset();

                },
                error: function () {
                    // Hata olursa yapılacaklar
                    swal({
                        icon: "warning",
                        button: false,
                        text: "Yorum Yapma İşlemi Başarısız Oldu Daha Sonra Tekrar Deneyin!"
                    });
                }
            });
        });
    });
</script>
